<div class="container-fluid margeTop flexCard">
  <mat-card [routerLink]="['/gestion-compte']" class="example-card">
    <mat-card-header>
      <mat-card-title>Gestion des comptes</mat-card-title>
    </mat-card-header>
    <mat-icon class="icon">supervisor_account</mat-icon>
    <mat-card-content>
      <p>
        Administrer les comptes de tous les utilisateurs du site.
        Vous pouvez les modifier, en ajouter et voir leurs informations.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card [routerLink]="['/gestion-projet']" class="example-card">
    <mat-card-header>
      <mat-card-title>Gestion des projets</mat-card-title>
    </mat-card-header>
    <mat-icon class="icon">folder</mat-icon>
    <mat-card-content>
      <p>
        Administrer les projets.
        Vous pouvez les créer, ajouter des personnes, voir les retours client.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card [routerLink]="['/gestion-compte']" class="example-card">
    <mat-card-header>
      <mat-card-title>Gestion des comptes</mat-card-title>
    </mat-card-header>
    <mat-icon class="icon">supervisor_account</mat-icon>
    <mat-card-content>
      <p>
        Administrer les comptes de tous les utilisateurs du site.
        Vous pouvez les modifier, en ajouter et voir leurs informations.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card [routerLink]="['/gestion-projet']" class="example-card">
    <mat-card-header>
      <mat-card-title>Gestion des projets</mat-card-title>
    </mat-card-header>
    <mat-icon class="icon">folder</mat-icon>
    <mat-card-content>
      <p>
        Administrer les projets.
        Vous pouvez les créer, ajouter des personnes, voir les retours client.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card [routerLink]="['/gestion-projet']" class="example-card">
    <mat-card-header>
      <mat-card-title>Gestion des projets</mat-card-title>
    </mat-card-header>
    <mat-icon class="icon">folder</mat-icon>
    <mat-card-content>
      <p>
        Administrer les projets.
        Vous pouvez les créer, ajouter des personnes, voir les retours client.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card [routerLink]="['/gestion-compte']" class="example-card">
    <mat-card-header>
      <mat-card-title>Gestion des comptes</mat-card-title>
    </mat-card-header>
    <mat-icon class="icon">supervisor_account</mat-icon>
    <mat-card-content>
      <p>
        Administrer les comptes de tous les utilisateurs du site.
        Vous pouvez les modifier, en ajouter et voir leurs informations.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card [routerLink]="['/gestion-projet']" class="example-card">
    <mat-card-header>
      <mat-card-title>Gestion des projets</mat-card-title>
    </mat-card-header>
    <mat-icon class="icon">folder</mat-icon>
    <mat-card-content>
      <p>
        Administrer les projets.
        Vous pouvez les créer, ajouter des personnes, voir les retours client.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card [routerLink]="['/gestion-compte']" class="example-card">
    <mat-card-header>
      <mat-card-title>Gestion des comptes</mat-card-title>
    </mat-card-header>
    <mat-icon class="icon">supervisor_account</mat-icon>
    <mat-card-content>
      <p>
        Administrer les comptes de tous les utilisateurs du site.
        Vous pouvez les modifier, en ajouter et voir leurs informations.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card [routerLink]="['/gestion-projet']" class="example-card">
    <mat-card-header>
      <mat-card-title>Gestion des projets</mat-card-title>
    </mat-card-header>
    <mat-icon class="icon">folder</mat-icon>
    <mat-card-content>
      <p>
        Administrer les projets.
        Vous pouvez les créer, ajouter des personnes, voir les retours client.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card [routerLink]="['/gestion-projet']" class="example-card">
    <mat-card-header>
      <mat-card-title>Gestion des projets</mat-card-title>
    </mat-card-header>
    <mat-icon class="icon">folder</mat-icon>
    <mat-card-content>
      <p>
        Administrer les projets.
        Vous pouvez les créer, ajouter des personnes, voir les retours client.
      </p>
    </mat-card-content>
  </mat-card>
  
</div>