<div style="margin-top: 2%;" class="container-fluid">
    <mat-card [routerLink]="['/gestion-compte']" class="example-card">
        <mat-card-header>
          <mat-card-title>Gestion des comptes</mat-card-title>
        </mat-card-header>
        <mat-icon class="icon">supervisor_account</mat-icon>
        <mat-card-content>
          <p>
            Administrer les comptes de tout les utilisateurs du site.
            Vous pouvez les modifier, en ajouter et voir leurs informations
          </p>
        </mat-card-content>
      </mat-card>
</div>