<h1 mat-dialog-title>Modifier compte</h1>
<mat-dialog-content class="mat-typography">
    <form #e="ngForm">

        <!-- id -->
        <input type="hidden" name="Id" [ngModel]="data.compte.Id">
        <input type="hidden" name="IdTypeCompte" [ngModel]="data.compte.IdTypeCompte">

        <div class="row">
            <!-- nom -->
            <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nom</mat-label>
                    <input matInput name="Nom" type="text" maxlength="255" [ngModel]="data.compte.Nom" required>
                </mat-form-field>
            </div>

            <!-- prenom -->
            <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Prenom</mat-label>
                    <input matInput name="Prenom" type="text" maxlength="255" [ngModel]="data.compte.Prenom" required>
                </mat-form-field>
            </div>
        </div>

        <div class="row">

            <!-- mail -->
            <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Mail</mat-label>
                    <input matInput name="Mail" type="email" maxlength="300" [ngModel]="data.compte.Mail" required>
                </mat-form-field>
            </div>

            <!-- telephone -->
            <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Telephone</mat-label>
                    <input matInput name="Tel" type="tel" minlength="10" maxlength="10" [ngModel]="data.compte.Tel" required>
                </mat-form-field>
            </div>
        </div>

        <!-- nom entreprise -->
        <mat-form-field *ngIf="EstRoleClient()" class="full-width" appearance="outline">
            <mat-label>Nom de l'entreprise</mat-label>
            <input matInput name="NomEntreprise" type="text" maxlength="300" [ngModel]="data.compte.NomEntreprise" required>
        </mat-form-field>

        <!-- adresse -->
        <mat-form-field *ngIf="EstRoleClient()" class="full-width" appearance="outline">
            <mat-label>Adresse</mat-label>
            <input matInput name="Adresse" type="text" maxlength="300" [ngModel]="data.compte.Adresse" required>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="warn" mat-dialog-close>Fermer</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="Modifier(e)">Modifier</button>
</mat-dialog-actions>