.example-card 
{
  margin: 10px;
  height: 420px;
  width: 380px;
  cursor: pointer;
}

li
{
  font-weight: bold;

  span
  {
    font-weight: normal;
  }
}

.flexCard
{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.icon
{
  position: relative;
  font-size: 150px;
  top: 0%;
  left: 25%;
  transform: translate(-50%, -50%); 
}