.matCard
{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.carre
{
    width: 20px;
    height: 20px;
    margin-left: 30px;
}

.nomStatus
{
    font-weight: bold; 
    color: white; 
    letter-spacing: 1px;
}