<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [hidden]="!EstConnecter()" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/accueil" routerLinkActive="active">Accueil</a>
      <a mat-list-item routerLink="/machines" routerLinkActive="active">Les machines</a>
      <a mat-list-item routerLink="/materiaux" routerLinkActive="active">Les matériaux</a>
      <a mat-list-item routerLink="/evenement" routerLinkActive="active">Les évenements</a>
      <a mat-list-item routerLink="/faq" routerLinkActive="active">FAQ</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="active">Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async) && EstConnecter()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Backlog</span>
    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
