<h1 mat-dialog-title>Ajouter compte</h1>
<mat-dialog-content class="mat-typography">
    <form #e="ngForm">

        <div class="row">
            <!-- nom -->
            <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nom</mat-label>
                    <input matInput name="Nom" type="text" maxlength="255" ngModel required>
                </mat-form-field>
            </div>

            <!-- prenom -->
            <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Prenom</mat-label>
                    <input matInput name="Prenom" type="text" maxlength="255" ngModel required>
                </mat-form-field>
            </div>
        </div>

        <div class="row">

            <!-- mail -->
            <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Mail</mat-label>
                    <input matInput name="Mail" type="email" maxlength="300" ngModel required>
                </mat-form-field>
            </div>

            <!-- telephone -->
            <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Telephone</mat-label>
                    <input matInput name="Tel" type="tel" maxlength="20" ngModel required>
                </mat-form-field>
            </div>
        </div>

        <!-- nom entreprise -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nom de l'entreprise</mat-label>
            <input matInput name="NomEntreprise" type="text" ngModel required>
        </mat-form-field>

        <!-- role -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Role</mat-label>
            <mat-select #selectRole name="IdTypeCompte" ngModel required>
                <mat-option *ngFor="let element of listeTypeCompte" [value]="element.Id">
                    {{ element.Nom }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- champs pour les admins -->
        <div *ngIf="PeutCreerSonMdp(selectRole.value)">

            <!-- mdp -->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input #inputMdp matInput name="Mdp" minlength="8" [type]="voirMdp ? 'text' : 'password'" ngModel required>
                <mat-icon class="iconClick" matSuffix (click)="VoirCacherMdp()">{{ voirMdp ? 'visibility': 'visibility_off'}}</mat-icon>
            </mat-form-field>

            <!-- comfirme mdp -->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Confirmer le mot de passe</mat-label>
                <input #inputMdpComfirmer matInput name="MdpComfirmer" minlength="8"[type]="voirMdpComfirmer ? 'text' : 'password'" ngModel required>
                <mat-icon class="iconClick" matSuffix (click)="VoirCacherMdpConfirmer()">{{ voirMdpComfirmer ? 'visibility': 'visibility_off'}}</mat-icon>
            </mat-form-field>

            <p *ngIf="!MdpIdentique(inputMdp.value, inputMdpComfirmer.value) && inputMdp.value.length >= 8" class="invalide">
                <mat-icon>highlight_off</mat-icon>
                Les deux mots de passe ne correspondent pas
            </p>

            <p *ngIf="MdpIdentique(inputMdp.value, inputMdpComfirmer.value) && inputMdp.value.length >= 8" class="valide">
                <mat-icon>check_circle</mat-icon>
                Les deux mots de passe correspondent
            </p>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="warn" mat-dialog-close>Fermer</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="Ajouter(e)">Ajouter</button>
</mat-dialog-actions>